html{
  font-size: 10px;
  font-family: arial;
  background-color: rgba(200, 200, 200, 0.5);
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px 20px;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  padding: 50px 100px 50px 100px;
  margin: 150px;
  text-align: center;
}

.inputs{
  border-radius: 10px;
  text-align: center;
}

.html0{
  background-color: rgba(255, 0, 0, 0.5);
}

.html1{
  background-color: rgba(255, 192, 203, 0.5);
}

.html2{
  background-color: rgba(255, 255, 153, 0.5);
}
.html3{
  background-color: rgba(124, 200, 0);
}
.html4{
  background-color: rgba(0, 255, 0, 0.5);
}
